.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 50s linear;
  height: 30vmin;
}

.App-header {
  min-height: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cont {
  display : flex;
  max-width: 800px;
  margin-left:auto;
  margin-right: auto;
  padding:0px 25px 25px 25px;
  margin-bottom: 200px;
  /* border: 1px solid black; */
}

.board-title {
  display: inline-block;
}

.board-title.turn {
  margin-right:15px;
}

.play-again {
  padding-top: 10px;
  padding-bottom: 10px;
  margin:15px;
  position: relative;
  bottom:220px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



